[2018-02-11 19:31] BethanyG opened #1 "`/welcome` Should Trigger Help Message for the `/welcome` Command"
`/welcome` - without a sub-command or @username should trigger a help message on how to use the `/welcome` command.  Something along the lines of:
_____________________________________________________________________
### `/welcome` is a command to greet users with the CB welcome message & Code of Conduct.
- `/welcome test`:  Sends a test welcome message as a DM to the user who typed it.
- `/welcom

[2018-02-11 19:54] BethanyG opened #2 "Add `/welcome` post + Channel Name To Post Welcome Message in a Specific Channel"
It would be nice to have the ability to re-post the welcome message in **#start_here** - or any other channel that needs it, on demand.  I think this is going to require:

1.  Formatting the welcome message & the Code of Conduct as **Slack Posts**, minus the [accept] button (we have them - they just need to be formally formatted and put in the repo as assets).
2. Ability to parse out a channel nam

[2018-02-11 20:02] BethanyG opened #3 "Make Welcome Message Interactive"
It would be nice if the welcome message was interactive and more of a tour-style.  We need some more ideas around this.  A few are:

1.  Feed pieces of the message to the user, and prompt them to acknowledge them, or "try out" different features.
2.  Have a small video or other embedded content for part of the welcome
3.  End the message with a short 5-question survey on interest & message the use

[2018-02-11 20:16] BethanyG opened #4 "Add `/resource` Slash Endpoint for Sending Various Resources to Users"
Rather than have all the commands under `/welcome`, suggest we add a different "slash command" to the greetbot around sending/asking for resources.  This would be a new route/endpoint.  The idea would be to have `/resources` respond with a DM to a channel or user with CB "recommended" resources.  Something along the lines of :
__
`/resources` [name of topic] [level] [_channel_] [_user_]
__
So -- `

[2018-02-11 20:51] BethanyG opened #5 "Add Interactive Message for How to Ask for Technical Help"
This is not fully formed, and definitely needs work and discussion.  But it would be nice to add a slash command or interactive message that sent a user through a short set of questions that prompted them for:

1.   What, exactly their technical question is about (programming language, stack, API, etc.)
2.   What their code looks like (snippett, pen, github file, etc.)
3.   What error messages / s

[2018-02-11 21:18] BethanyG opened #6 "Refactor Code to Separate Concerns"
The code needs to be refactored into a "proper" Express app.  The three current files need to be broken down into the "usual" tree.  Something like what's generated here:

https://expressjs.com/en/starter/generator.html

This is so changes/additions to routes don't conflict or break changes made to messages or message actions.  Endpoints need to have their own files and their own associated assets

[2018-02-11 21:19] BethanyG opened #7 "Add Testing Framework"
Need to add a testing framework for the generating and running of automated tests.

[2018-02-11 21:20] BethanyG opened #8 "Documentation First Pass"
Need to put together some documentation for both usage and maintenance.

[2018-02-11 21:23] BethanyG opened #9 "Provide Admin Interface for the adding/editing of Messages"
Still in the pie-in-the-sky phase - but it would be really nice to have a non-code interface for the addition of new messages or resources for the bot.  This would NOT be for the addition of a new endpoint (or slash command or event) - just for small changes to existing functionality.  Haven't thought it through much further than that, but welcome suggestions or thoughts at this stage.

[2018-02-13 19:37] lpatmo opened #10 "Two "welcome" apps reported"
Report from Maya B on #codebuddies-meta: "Hi - I’ve got the “CodeBuddies Welcome” app twice on my account for some reason - went through it and clicked accept which cleared the active message on one of the two but not the other - so always looks like there’s a waiting message for me"

[2018-02-13 19:48] BethanyG commented on #10
Not sure if this is a result of having two configurations - or if the `user_join` fired twice, or some other issue.  Investigating.

Reproduced on Production.  `user_join` appears to be firing twice, and then once the [accept] button is pushed, the DB flag prevents the second message from clearing.  Will deploy production code onto staging and see if I can reproduce the issue there.

**UPDATE:**

[2018-02-13 20:39] BethanyG commented on #10
re-installing the application into the Slack workspace via the Slack app interface appeared to do the trick.  Something about the permissions changed on the app, and that **_seems_** to have been the problem, although I am not totally clear on what exactly broke.  Two tests of new user join seem to show that the problem is no longer occurring.  Closing issue for now.

[2018-02-16 01:05] BethanyG commented on #5
Just edited the Slack bot, so am pasting two screegrabs here for future reference.

![screen shot 2018-02-15 at 5 06 45 pm](https://user-images.githubusercontent.com/5923094/36289061-b798afe6-1272-11e8-9ef4-7648df445118.png)
![screen shot 2018-02-15 at 5 06 59 pm](https://user-images.githubusercontent.com/5923094/36289064-bb67825a-1272-11e8-85d0-d2c2a5a0969a.png)

[2018-02-16 01:10] BethanyG commented on #3
Adding screengrab of current message for reference.

COLLAPSED
<img width="874" alt="screen shot 2018-02-07 at 4 05 55 pm" src="https://user-images.githubusercontent.com/5923094/36289103-feec8d86-1272-11e8-88fb-813edc7ea757.png">

EXPANDED
![screen shot 2018-02-07 at 4 06 44 pm](https://user-images.githubusercontent.com/5923094/36289112-0ae9f07e-1273-11e8-8fa9-174017221a7e.png)

[2018-02-20 20:05] lpatmo opened #13 "Respond to "unclassified" messages"
If users type a message back to greetbot, we should respond and inform them that they're typing to a bot.

[2018-02-26 10:42] BethanyG commented on #6
First pass of this is now in https://github.com/codebuddies/greetbot/pull/15.  It will probably needs some additional work, but is more or less chunked out.

[2018-02-26 10:46] BethanyG commented on #1
THANK YOU @railsstudent for a most excellent fix.  Merged and added to the refactored code as well.

[2018-02-26 10:46] #1 closed

[2018-02-26 10:49] railsstudent commented on #1
With pleasure.

[2018-02-26 14:51] angelocordon commented on #7
Working on this separately, will bring it over once I have something more stable.

Currently experimenting with Mocha, Chai and Supertest (seem like these are the go to testing frameworks for ExpressJS apps).

[2018-02-26 22:13] #6 closed

[2018-02-27 00:09] railsstudent commented on #2
I have some experience in slack posting. I can try to do it in the weekend.

[2018-02-27 02:46] BethanyG opened #17 "Add New `/events` Listener and Endpoint for #introduce-yourself Channel"
Thinking it would be nice to have our greetbot do a listen for `channel_join` in #introduce-yourself, and respond with a welcome and a prompt to talk about where the user is from, and what they're learning/doing.

Something along the lines of:

Hi `@user` - We're glad you're here.  :dancing-penguin:  Tell us a little about yourself: _What you are working on, & what are you learning?_ We'd love to

[2018-02-27 03:09] BethanyG commented on #13
Will need to do a bit more research here, but generally, I think we'll need to do the following:

1)  Subscribe the **bot_user** to `app_mention` in the Slack `/events` API (See: https://api.slack.com/bot-users)
2)  Add the incoming message for the bot to the generic method that parses `/events` in the CodeBuddies app
3)  Add a method to respond to the message, based on it's flag or content or oth

[2018-02-27 03:14] BethanyG commented on #4
Starter list of things we'd `/resources` (Beginning / Intermediate / Advanced):

- Web Dev
- FullStack Dev
- Databases/SQL
- ~Python~ **(done)**
- ~JavaScript~ **(done)**
- HTML
- CSS
- Ruby
- Go-lang
- Data Science

[2018-02-27 03:28] BethanyG opened #18 "Message Send Fails Slack Authentication if Message is not in Same File as the Send Logic"
I am sure this is due to my lack of experience with node and express.  If I separate the message bodies that our bot user is supposed to send into different files from the logic that is supposed to do the sending, the SLACK_TOKEN variable won't resolve, and the message fails Slack's authentication.

Here is an example:

In **/app/routes/slash/welcome.js,** if you take the section from lines 80-->9

[2018-02-27 03:36] BethanyG opened #19 "Refactor: Pull all Message Bodies out Into Their Own Data Files for Each Endpoint or Action"
The messages that the greetbot sends in response to actions or commands should be pulled out into their own data files for ease of editing.  For example, the message sent in response to `/welcome test` should go in a **welcomeData.json** file in the same directory as **routes/slash/welcome.js.**

[2018-02-27 05:28] lpatmo opened #21 "Prompt new users to channels about what they're looking for"
Similar idea to issue #17:

- `/events` endpoint will listen for new joins to a channel
- Bot will ask user what they're interested in. Maybe we can prompt three default answers:
a) Looking for help
b) Looking for a study partner on X
c) Willing to share knowledge/help others
c) Lurking

If they select a), we give them some advice on how to structure their question.
If they select b), we give them

[2018-02-27 05:46] lpatmo opened #22 "Automation for /bulletinboard"
Not *entirely* sure how a slash command could help automate the weekly `@channel` bulletin board going out with shout-outs, but am putting this idea here for further discussion.

Some ideas:
- Maybe if a user types `/bulletinboard add` they'll be able to add a submission??
- If a user types /bulletinboard they'll be able to see an archive of past bulletin boards?? (not sure what format we should s

[2018-02-27 06:00] BethanyG commented on #22
One thought is an adaptation of this:  https://glitch.com/~slack-announcements-approval-blueprint.  Haven't looked too closely at it yet, but it could maybe provide a skeleton of what we are looking for?  On the backend, we could either use the current apps node-json-db..or go mongo, if needed.  We may want a beefier DB anyways..if our `/resources` list gets too big, it might be better stored in a

[2018-02-27 09:59] robinfla opened #23 "Separate learning resources and projects / tutorials"
Talking about resources, two different concepts actually emerge: theory & practice. While practice with exercises is a necessary complement to theory, practice with tutorials or projects, is a bit different.

It should be somewhat differentiated along the way. Ideally, a user would be prompted resources with ```/resources``` but we could add additional options for instance, ```/resources projects`

[2018-02-28 06:28] BethanyG commented on #18
Fixed by Pulls #24 and #25.  Needs some additional fixes for default user / channel parsing.  Will log those under a different issue.  Closing this and fixed.

[2018-02-28 06:28] #18 closed

[2018-02-28 06:33] BethanyG commented on #8
**SOME NOTES**
- need to add Glitch.com links, screenshots,  and a brief How-to for users interested in the platform.
- need to add links to the Slack API docs, and highlight relevant bits for newbies (especially the `event.users.is_bot` property, and bot users in general.
- might want to consider a Docker container or Docker compose file for users who'd like to do the whole NGROK thing, but are a

[2018-02-28 08:53] robinfla opened #28 "Using a DB (mongo?) to store, access and update messages, resources, users, etc."
Right now, node-json-db module is used as a simple database and it works for the simple purpose of storing team/user IDs and checking if said user has accepted the ToS.

However, the module is fairly limited and the JSON file could be a mess if we add the messages and resources. If not, those files will have to be scattered and divided into subfolders of subfolders, which is not ideal either. Ther

[2018-02-28 23:45] angelocordon commented on #9
@BethanyG I think this is great, but seems like a far future feature - let's add to back log for now?

[2018-03-01 00:57] BethanyG commented on #9
agreed.  Do we have a `backlog` tag?

-B

Sent from my iPhone

[2018-03-01 03:30] angelocordon commented on #2
@railsstudent is the `ready for review` tag for #25? Just want to clarify if this issue is `in progress` or `ready for review`. They can't be both.

[2018-03-01 13:37] railsstudent commented on #28
Eventually we have to move the messages and data to mongodb but we are in early stage of the project and may want to encourage as many people to help out, even beginners.
Having low learning curve seems more important than laying down all the infrastructures.
From my experience, this project needs fair amount of understanding of JavaScript, ES6, Node and Slack Web API. Adding MongoDB and NoSQL to

[2018-03-01 16:13] robinfla commented on #28
I totally agree with you. Same thing happened (is happening?) to me while trying to run my local environment. However there may be opportunities to differentiate projects/issues that don't need database skills from projects/issues that do. We were actually talking about that with @BethanyG on a broader subject: onboarding people who want to collaborate by teaming them up on small projects or point

[2018-03-01 21:29] angelocordon commented on #28
Great discussions @railsstudent @robinfla - while I see we'll eventually need Mongo, I'm going to tag this as `backlog` for now so we can revisit it at the proper time.

[2018-03-01 23:11] ajparise commented on #28
Just a random thought, what if the DB framework dependency was pushed to the outside instead of being tangled inside the rest of the code?

That way the framework could be swapped out without changing dependent code.

Refactoring this:
[code]

Into something like this
[code]

[2018-03-02 15:46] stain88 commented on #2
Fixed in #31

[2018-03-02 15:46] #2 closed

[2018-03-02 15:50] #19 closed

[2018-03-02 15:50] BethanyG commented on #19
Fixed in most recent refactor/pull.

[2018-03-03 13:54] railsstudent commented on #4
I probably do it phases, submit one PR for each command.
Will start after studying the current codebase.

[2018-03-03 19:06] BethanyG commented on #4
Totally agree - a phased approach would be the best.  Just getting the resources, and deciding on formats, etc. is a whole project itself.

See https://github.com/codebuddies/greetbot/projects/4 & https://github.com/codebuddies/greetbot/projects/3

Recommend we open some issues or sub-issues around which commands we'd like to implement -
 and when.  That way, each can be on the board, and we can t

[2018-03-03 19:43] stain88 commented on #23
i would suggest splitting out into a `/projects` command, as there's probably enough parsing going on in `/resources` already

[2018-03-03 20:49] stain88 commented on #4
Proposal:
Resources are hosted in `data/slash/resources/resources.yml`, with general format:
[code]
etc. Easy to add to, no need for sorting, can easily add other keys if needed (like paid, blog, book...)
We can then split `req.body.text` on spaces, grab username/channel with the same regex as welcome, and if what's left isn't `list`, grab the data from yaml and filter on all the keywords. List re

[2018-03-04 03:12] railsstudent commented on #4
if using yaml, do we need to convert yaml to JSON format and nodejs code access the key/value in the JSON object.

[2018-03-04 03:25] BethanyG commented on #4
@stain88 -- excellent suggestions!  I may have complexified things  a tad too much with the refactor....

The way things are now, all the parsing logic for the incoming `/slash` POST  lives in **util/incomingParser.js.**  It gets called by **src/routes/endpoints/welcome/welcome.js** to deal with the incoming request message.

 My thought there being that no matter the POST to `/slash (whatever)`

[2018-03-04 03:31] BethanyG commented on #4
...as for the .yaml file.  That certainly would be efficient on one level, and mimics what we'd more or less do for a DB.  I need help though in thinking through what the rest of it looks like.  Here is what we currently have:

1)  POSTed Message comes into a `/index.js`, and gets routed to, say  **/routes/endpoints/welcome.js**
2)  In **welcome.js**, a call goes to **/util/incomingParser.js**, to

[2018-03-04 05:17] rmorabia commented on #4
I may be old-school, but I still think we need a human-written version of each message because I think the information design will be different for each one.

It's hard to say a beginner `/resources` message with general links will be similar to an intermediate `/resources` message with sub-categories for frameworks, concepts, etc..

[2018-03-04 05:33] BethanyG opened #36 "`/welcome test [@<username>][#<channel name>]` Triggers Excess Messages"
Definitely an issue with the **switch()** statement in **/routes/endpoints/slash/welcome/welcome.js**

If a user types `/welcome test #channel name @username`, the bot should send one message to the channel, and one message as a DM to the user.  Instead, **two** messages are sent to the channel, and **two** to the user.  Not clear on why this is happening, or what the correct syntax is for sending

[2018-03-04 05:41] BethanyG opened #37 "`/welcome post [@<username>]` Triggers three messages."
Again, suspect that the **switch** statement in **_/app/routes/endpoints/welcome/welcome.js_** is all jacked up.  Typing `/welcome post @username` sends three messages to the user as a DM:

1)  Two copies of the Welcome message
2)  One copy of the help message

Going to recommend at this point that the switch statement be re-written to **if-else**, because the switch is producing unexpected result

[2018-03-04 05:42] BethanyG commented on #37
Assigning myself.  There is a missing **break;** in the switch.  ARG.

[2018-03-04 05:43] BethanyG commented on #36
Suspect this is due to a missing **break;** in the switch statement.  Assigning it to myself for fixing.

[2018-03-04 06:47] lpatmo opened #39 "Remove `/welcome post` command from the "welcome" documentation"
We can remove this documentation:
`* /welcome `post`: Sends a test welcome message to the #landing_pad channel.`

... since have `/welcome [channel]`

[2018-03-04 06:52] BethanyG commented on #37
fixed with pull #38

[2018-03-04 06:53] lpatmo opened #40 "`/welcome post [channel]` only sends a message to the channel when I pass in #general or #random as the channel name"
In violins.slack.com, I created two new channels:
#linda
#landing_pad

Typing:
`/welcome post #general`
sends a welcome message to the #general channel.

Typing:
`/welcome post #random`
sends a welcome message to the #random channel.

But typing:
`/welcome post #linda`
does not send a message to the #linda channel. Same for the new #landing_pad channel I created.

Wonder why only old/pre-existing

[2018-03-04 06:53] #36 closed

[2018-03-04 06:55] lpatmo commented on #40
Closing because @bethanyG pointed out to me that like with the plusplus bot, our welcome bot needs to be _invited_ to new channels before it can work there.

[2018-03-04 06:55] #40 closed

[2018-03-04 07:33] #39 closed

[2018-03-04 09:10] stain88 commented on #4
@railsstudent: yes, but that can easily be done with `require('yamljs')`. I also think it's a more versatile file type, and would be easier to transfer to the db once that's up and running.
@BethanyG: yeah, probably could (and arguably should) use the same parser - never really looked beyond what we were fixing the other day as to what it actually does.
@rmorabia: agree, to some extent, but this c

[2018-03-05 09:53] BethanyG opened #43 "Rewrite incomingParser.js to Accommodate Arbitrary Numbers of Commands & Targets"
As part of the support for Issue #4, we need to change the incomingParser.js to pull out more than one command/@username/ or #channnelaname at a time, & return those parameters as _lists_ inside the object that the endpoint receives.

- [x] Parse out multiple commands
- [x] Parse out multiple @users
- [x] Parse out multiple #channelnames
- [x] Change welcome.js to deal with new parameters
- [x] Ch

[2018-03-05 11:12] stain88 commented on #43
So, the last 4 should be done, within the current message setup.
Parsing out multiple commands, to be looked at once we have some dummy data for `/resources`

[2018-03-05 11:22] BethanyG commented on #43
_excellent!_

[2018-03-05 21:38] BethanyG commented on #5
Also adding the Markdown for those messages here, in case we want it for later.

`Can someone help?`
:+1::skin-tone-5:  _ *Someone most likely can!* _  :+1::skin-tone-5:   But juuust in case - answering the following questions can help *us* better help *you*:    :star: `What have you tried so far?`  _Give a quick rundown of your process._   :star:`What does your code look like?`  (_Is it on Github

[2018-03-05 21:47] BethanyG opened #45 "Build "Starter" JSON Template to Display Resource Strings Pulled from YAML File"
This is a sub-task to #4, and is still in the "exploratory"/WIP phase.  If we're going to make our YAML work in a reasonable fashion (or a DB for that matter), we need to think through **_what_** we are going to template, **_how_** we are going to template it, and **_where_** we put the templates and the templating logic.   And this may or may not be the right strategy.  Please see the discussion

[2018-03-05 21:56] BethanyG opened #46 "Build Out YAML File(s) for Resources"
This is also a sub-task of #4 - and is still in the proof of concept/WIP phase.  In lieu (or parallel to) of putting all the info into a DB, we need some way to organize all the `/resources` and other `/slash` command data for the bot messages.  Current strategy we're blocking out is a **YAML file with subject/link/string fields for various topics and resources.**  We know this won't solve all cas

[2018-03-05 22:04] BethanyG commented on #46
Attached is a snippet of our "test" or "mocked up" file.  More fields could be added - this was just for POC (**PLEASE NOTE:**  the BEG/INT/ADV are only there for TESTING!!  This is mocked up data)

[code]

[2018-03-06 07:32] stain88 commented on #43
Think we're ready...

[2018-03-06 13:14] stain88 commented on #43
Good to close?

[2018-03-06 14:27] angelocordon commented on #46
Was pretty far away from the `/resources` convo, so apologies if this has already been discussed!

+ I think we picked YAML because it's a bit easier to read than JSON, correct?
+ Wondering if this is possible with YAML, but can we separate each resource as an individual file and concat them together as a collection? I know we can most likely do this with JSON + JS, but here's what I'm thinking:

[2018-03-06 14:33] angelocordon commented on #8
Depending on how #42 goes, maybe we can close this issue? I think after that, we'd be open for a second pass on the docs on the next release.

[2018-03-06 14:36] angelocordon commented on #23
+1 with @stain88 - I think this can be revisited as a `/projects` feature

[2018-03-06 14:42] stain88 commented on #46
Easier to read is a personal choice, but I think yes. I think the main reason though is `yml` is easier to dump into a DB than `json`, but I may be wrong there too.
Concatenation would be possible, in much the same way as building up a json object, so I don't think there's any issue there. The multiple files then just comes back to Big File Tree, _until_ the DB is set up.

Bear in mind this was ju

[2018-03-06 17:11] BethanyG commented on #43
Closing.  _excellent work!_  THANK YOU.

[2018-03-06 17:11] #43 closed

[2018-03-06 17:14] BethanyG commented on #23
Going to re-file this as **Add New `/projects` Endpoint**, so we can discuss/plan/assign accordingly.

[2018-03-07 12:00] stain88 opened #48 "Move resource template generator out of endpoints"
Currently, `generateResourceMessage` is hosted in `endpoints/slash/resources/resources.js` - this should be moved under the /data/ folder to better be in line with the templates being separate from the commands.

[2018-03-07 12:02] stain88 commented on #48
Holding until #42 gets merged, to avoid further clashes.

[2018-03-07 18:00] #48 closed

[2018-03-09 07:04] BethanyG commented on #45
Fixed by @stain88 in his `/resources` pull request.

[2018-03-09 07:05] #45 closed

[2018-03-09 07:06] BethanyG commented on #46
I am going to go ahead and fill out the single YAML file with the information we have.  But I am edging closer to a DB for all of this.

[2018-03-09 09:19] stain88 opened #50 "Glitch doesn't have node v8.10, should use `^8.x` in package.json"

[2018-03-09 10:46] #50 closed

[2018-03-09 10:56] BethanyG commented on #4
**Beginner JS First Round::**

<img width="605" alt="screen shot 2018-03-09 at 2 44 43 am" src="https://user-images.githubusercontent.com/5923094/37204364-75313658-2345-11e8-85fb-12ea8db4b833.png">

[2018-03-09 11:27] BethanyG commented on #4
**Intermediate JS First Round:**

<img width="653" alt="screen shot 2018-03-09 at 3 14 05 am" src="https://user-images.githubusercontent.com/5923094/37205477-c637752c-2349-11e8-8531-3cef69e85e09.png">

[2018-03-09 13:00] BethanyG commented on #4
**Advanced JS First Draft**

![screen shot 2018-03-09 at 4 55 45 am](https://user-images.githubusercontent.com/5923094/37208598-c05655bc-2356-11e8-9713-ea0b2a07cc6b.png)

[2018-03-09 20:33] stain88 commented on #46
The more I think about this, the more I'm leaning towards the one-file-per-resource idea (again, until the DB gets put in place). Globbing them all would be trivial, and it'll be easier to add other resources in.

[2018-03-09 23:04] BethanyG commented on #46
Agreed.  Per our run-through and our discussion.  Going to close this issue, and open a new one around implementing the discussed tree structure, and porting our two examples to it, so that the templates and filters can be changed accordingly.  I think we're quickly headed in the direction of a DB however.  Wrangling all the files (good naming and organization non-withstanding) is quickly becoming

[2018-03-10 08:26] BethanyG opened #53 "Re-Organize data/resource File Tree for Better Workflow & Maintenance"
As a morph, or sub-issue to #46 :  Keeping `/resources` information in one, large YAML file creates a bottleneck when adding or changing various resources connected to the `/resources` command.  To that end, we'll be breaking up the one large file (as suggested by @angelocordon),  and we'll need to change the file tree to accommodate this.

[2018-03-10 08:32] BethanyG opened #54 "Break Up YAML File into Sub-Files Organized by Resource"
As another sub-issue to #46  - We need to break up our one, large YAML file into sub-files organized into a tree by {topic}/{level}/resourcename.js.

[2018-03-10 08:34] BethanyG opened #55 "Change YAML Filter Logic to Accommodate New File Tree and Files"
Once #54 and #53  are completed, we'll need to change the logic that filters `/resources` so that the correct information is pulled.

[2018-03-10 08:36] BethanyG opened #56 "Change YAML Util File to Glob the Multiple YAML Resource Files Into One File"
In support of #53, #54, and #55 - we'll need to blob all the individual YAML files into one for ease of processing and filtering.

[2018-03-10 08:38] BethanyG commented on #46
Linking #53, #54, #55, and #56  to this issue to reflect our change in organization/strategy.

[2018-03-10 08:38] #46 closed

[2018-03-10 22:33] stain88 commented on #56
![glob](http://31.media.tumblr.com/b65f39c9f4b433cf18415a523d7ce3fe/tumblr_nnq8h9jDHE1so564ko1_500.gif)

[2018-03-14 00:23] #53 closed

[2018-03-14 00:23] #55 closed

[2018-03-14 00:23] #56 closed

[2018-03-14 00:24] BethanyG commented on #54
WOOT!  _Time to close_

[2018-03-14 00:34] BethanyG commented on #54
....erm, was silly and didn't read the comments from @stain88 .  Re-opening as a place for additions and expansions.

[2018-03-14 04:49] mr-rob0to commented on #28
@ajparise what you're referring to here is the [facade](http://www.dofactory.com/javascript/facade-design-pattern) pattern which is a great approach overall. It's a little more of an advanced topic for most but I don't think we should shy away from implementing it.

I would, however incrementally introduce this pattern once we actually implement MongoDB (or another DB) first. If we go with an ODM

[2018-03-14 05:41] BethanyG commented on #28
@stain88 and I have been kicking this around and around as we get the `/resources` architected.  We really are on the verge (just look at the file tree and do the math!!).  I have been trying to mostly stay out of the discussion because I have a strong preference for a DB - but understand that introducing one adds complexity and intimidation to those not familiar.  I'm also far more familiar with

[2018-03-14 06:02] BethanyG commented on #28
@stain88 and I have been kicking this around as we get the `/resources` architected.  We really are on the verge (just look at that development branch file tree and do the math!!).  I have been trying to mostly stay out of the discussion because I have a strong preference for a DB - but understand that introducing one adds complexity and intimidation (both in setup and in coding) to those not fami

[2018-03-14 06:08] BethanyG opened #58 "Add New /projects Endpoint and Content"
As with #4, and as suggested in #23 add new endpoint for sending project suggestions per language/level to users.  Same functionality and formatting as described in #4 - but with the focus being on exercises or projects a user could engage with to level up their skills in certain areas.

[2018-03-14 06:10] BethanyG commented on #23
I am going to close this in favor of #58.  Please feel free to re-open if I've missed something.

[2018-03-14 06:10] #23 closed

[2018-03-14 08:41] stain88 commented on #28
Fairly confident a DB can be implemented in parallel - once it's set up, we can probably use a script to drop all the yml's into it.

Regarding #9: If we have a DB, it would need to be hosted somewhere, right? If it's hosted, then there will be an API to connect with it, and if there's an API, there can be a site associated with it. I know RoR has an easy gem that adds an /admin url to a site, but

[2018-03-14 10:47] stain88 commented on #58
How do we feel about duplicating the `/resources` setup, in terms of file tree and yml templates?

[2018-03-15 18:50] ajparise commented on #28
@sergeant-q Yep, a facade-[adapter](http://www.dofactory.com/javascript/adapter-design-pattern) combo, leveraging a [ports-adapters](http://alistair.cockburn.us/Hexagonal+architecture) architecture.
We'd have one port (facade) and multiple adapters for each DB we need to support.

Alternatively, we can create an adapter for the existing database and incrementally introduce the facade code. Then we

[2018-04-11 06:08] lpatmo opened #62 "Add `/resources html-css` endpoint"
List of HTML/CSS resources (separated by beginner, intermediate, and advanced): https://docs.google.com/document/d/1Ts2CIvD7zXPVuOJF69w3Y5gFgHQxKENPOWjZMsnYLJo/edit

(Thanks to Radhika and Alex N. for finishing up curating these resources!)

@codemaven_sooz and @jonathandos on Slack have volunteered to take on implementing this endpoint.

Starting guide:
https://github.com/codebuddies/greetbot/wik

[2018-04-12 19:40] lpatmo opened #63 "Triple welcomes"
When a new user signs up, they'll see the "welcome" message fire thrice.

Some people want to report this as a bug.

[2018-04-14 16:55] johnathanDOS commented on #62
I think I'm set up to start working on this :)

@FavoredFortune - I'm wondering if the best way to avoid duplicating each other's work would be for each of us to focus on incorporating resources from a different level (Beginner, Intermediate, or Advanced). I can start with Beginner, unless you've already made some headway there. What do you think?

[2018-04-14 17:41] angelocordon commented on #7
#61

[2018-04-14 17:49] #8 closed

[2018-04-14 17:49] angelocordon commented on #8
#42 is merged - for any new notes for the documentation, let's create another issue for a second pass.

[2018-04-14 17:50] angelocordon commented on #7
Currently reviewing @stain88's PR #61

[2018-04-14 22:48] lpatmo commented on #62
@tgmiller5 has also expressed interest in helping with this; maybe she can take on a level, to further divide up the work.

[2018-04-14 23:15] tgmiller5 commented on #62
thank you but I will work on C# for starters

[2018-04-14 23:25] tgmiller5 opened #65 "Add `/resources C#"
List of C# resources (separated by beginner, intermediate, and advanced):
No document created.

[2018-04-15 07:57] lpatmo commented on #63
I've created a new user and can verify that this happens.

[2018-04-15 16:13] stain88 commented on #63
Is this a new user to codebuddies, or the greetbot slack?
If codebuddies, I can't reproduce. If greetbot, it's probably because we've "duped" the bots for individual testing, so all of them fire.

[2018-04-15 17:41] BethanyG commented on #63
Confirm that a new user to **_codebuddies.slack.com_** gets (_in my case_) two bot instances and two Welcome messages.  This was after I invited the user via an **email/link** from the Slack interface.  **However** @stain88 used the "self-invite" method (the [get your invite] button on the website) - and only received a single message on joining.

I removed the second bot configuration for codebud

[2018-04-15 18:22] BethanyG commented on #63
Tested and confirmed by sending invites to @angelocordon and @stain88.  Since they are now only getting spammed once, I am going to close this as fixed for now.

[2018-04-16 07:08] MavenOfCode commented on #62
I'm happy to start on advanced and meet In  the middle Jonathan.  Letts
touch base whenever one of us is ready to do intermediate and see where the
other is.

On Apr 14, 2018 4:15 PM, "Tammy Lawson" <notifications@github.com> wrote:

[2018-04-16 14:42] cbelsole opened #67 "Add `/resources` golang"
List of Golang resources (separated by beginner, intermediate, and advanced):
No document created.

[2018-04-17 02:37] cbelsole commented on #67
I started filling this out with a bunch of go tutorials but then I found the official go resources page. Should we just link to this page rather than curating our own? It has the majority of the tutorials I was going to link. https://github.com/golang/go/wiki/Learn

[2018-04-17 07:49] stain88 commented on #67
Definitely could have that as one of the resources (possibly duplicated for each level). The idea behind the command is if there's anything beyond "official docs", that really spoke to you. Although i suppose golang is probably, uh, "more well defined" than JS

[2018-04-17 14:43] billglover commented on #67
One of the things that is missing from the "Learn" list is inspiration. I've found that finding good sources of inspiration has helped just as much as formal learning resources.

[2018-04-17 14:44] billglover commented on #67
The other source of resources that I've seen pop-up every now and again is the Awesome Go list:
https://github.com/avelino/awesome-go

[2018-04-18 00:12] saminap92 commented on #65
If nobody is working on this, I can take this up.

[2018-04-18 01:41] tgmiller5 commented on #65
I am working on this @saminap92

[2018-04-18 06:44] stain88 commented on #65
There should be enough for both of you to add resources - we are looking for at least 12.

[2018-04-18 09:28] tgmiller5 commented on #65
ok @stain88

[2018-04-18 14:41] stain88 commented on #7
Good to close now that #61 is merged?

[2018-04-18 20:00] saminap92 commented on #65
Awesome :)   Thank you @tgmiller5  and @stain88

Please see attached a file that has a few resources curated from the web and reviewed by a friend who has worked in C# for many years.

[C#resources.docx](https://github.com/codebuddies/greetbot/files/1925614/C.resources.docx)

My first contribution to this open source project so super excited :)

[2018-04-19 05:28] lpatmo commented on #65
Thank you so much, @saminap92! Could you put that into an editable google doc so that other people can edit to it? The format we want to emulate is this: https://docs.google.com/document/d/1Ts2CIvD7zXPVuOJF69w3Y5gFgHQxKENPOWjZMsnYLJo/edit

Once the content ready, coding it up in a Pull Request should (hopefully) be straightforward and can be divided up -- e.g. @tgmiller5 can work on implementing t

[2018-04-22 18:52] #7 closed

[2018-04-22 18:53] stain88 commented on #9
not so much admin feature, but the view-resources feature we've just merged in #64 is a start to something like this

[2018-04-22 20:04] BethanyG commented on #4
I am going to close this in favor of opening separate issues for each resource topic added.  The base work of adding the endpoint and related functionality has been completed.

[2018-04-22 20:04] #4 closed

[2018-04-23 07:27] stain88 opened #75 "Update /resources help message"
Refactors have left the help message a bit out of date. Should update to make it clearer how /resources works.

[2018-04-24 08:41] stain88 opened #79 "Routes refactor"
With the stable alpha-release of greetbot, I think now would be a good time to look at refactoring our routes setup, to minimise bloat in our `index.js` entry file. We already have 7 routes (including different verbs), and at least another 6 planned.

This work _shouldn't_ impact any resource gathering, so carry on with that.

[2018-04-24 17:51] #79 closed

[2018-06-14 17:03] stain88 opened #86 "New guidance"
Update welcome message based on codebuddies/codebuddies#911

Also add a `/help` command to ping various bits to users - such as `/help hangouts` will give the info about hangouts only

[2018-06-27 20:29] lpatmo opened #87 "Add additional text to the welcome message"
@wuworkshop saw this neat message @billglover wrote to a new member on Slack:

[code]

Let's add it to the welcome message. Do any new contributors want to work on it?

[2018-06-27 20:35] BethanyG commented on #87
This is already part of the welcome message.  Please see attached screegrab.

On Wed, Jun 27, 2018 at 1:29 PM, Linda <notifications@github.com> wrote:

[2018-06-27 20:41] BethanyG commented on #87
Well -- that didn't go through.  Please see the two attached screengrabs below.  The verbiage he used was from the existing welcome messages - no edits required...unless we'd also like to add a note about API keys or other code changes??

![screen shot 2018-06-27 at 1 40 44 pm](https://user-images.githubusercontent.com/5923094/41998492-c352c948-7a0f-11e8-9d21-3d6eaa9af832.png)
![screen shot 2018-0

[2018-06-27 20:44] BethanyG commented on #87
If so...proposals on wording?

[2018-06-27 20:59] lpatmo commented on #87
Draft:

If you have any questions about the community or the project or want to talk to an admin, feel free to ask about it in #codebuddies-meta. It’s where discussions related to our community happen.

If you'd like to add a new integration to the Slack, please ask in the #codebuddies-meta channel as well! Because CodeBuddies is on a free plan, the number of new Slack apps we can integrate is lim

[2018-06-29 00:01] wuworkshop commented on #87
@lpatmo I just now noticed you misunderstood the thing I said in the Slack conversation. Bill said:

And I suggested that we add something along those lines to this part of the Welcome message:

[2018-06-29 04:04] lpatmo commented on #87
@wuworkshop Proof that I was truly sleep-deprived yesterday! Here's a revised draft:

Something like that?

[2018-07-01 20:01] peoray commented on #87
Okay, so I wanna do this but it seems no consensus has been reached on what the message should be?

[2018-07-03 01:14] wuworkshop commented on #87
Hmm... 🤔  I think I actually prefer @lpatmo's first draft.

I think it makes more sense for the person to ask in the Slack first about Slack integrations.

[2018-07-03 02:33] lpatmo commented on #87
Thanks @wuworkshop! @peoray Is that enough for you to get started? Let us know if you run into any questions.

[2018-07-03 07:37] peoray commented on #87
@lpatmo Yeah, let me get started. Wish me luck, first OSS contribution :fearful:

[2018-07-03 09:06] peoray commented on #87
Okay, so I' having issues as to how to set up locally. I get it that I have to fork this repo https://github.com/codebuddies/greetbot, then set it up locally, but no detailed instruction was given as to how to do this

[2018-07-03 09:08] stain88 commented on #87
Have you been through the [wiki](https://github.com/codebuddies/greetbot/wiki/Setup-Greetbot-in-your-Slack-Workspace)? Which step did you get stuck at?

[2018-07-03 09:14] peoray commented on #87
It seems I will have to create a slack workspace?

[2018-07-03 10:02] peoray commented on #87
So I encountered an error on the events subscriptions stage. Seems like my URL didn't respond with the value of the challenge parameter.

After running the two commands given: `npm run start:dev-server` and `npm run start:dev-tunnel` in two separate instances of my terminal, I got some errors thrown at me

Also, my URL https://peoray.localtunnel.me/ shows a 404 page

[2018-07-07 21:42] peoray commented on #87
For some reason, my changes are not working!

I included the new text but no change on the message displayed by the bot

[2018-07-07 21:46] stain88 commented on #87
I'll have to defer to @BethanyG on how the welcome message actually works. But if you want, throw up a new Pull Request, and we can review what you've done

[2018-07-10 01:50] #87 closed

[2018-07-20 15:33] BethanyG opened #89 "Potentially add The Daviddias Resources to a Frontend / HTML Slash Command"
https://github.com/thedaviddias/Front-End-Checklist is a really nice resource - as are other resources listed on **David Dias'** repo.  Suggest these get added to a `/resources frontend` command - or the `/resources HTML & CSS` command. For Greetbot.

[2018-07-25 06:53] stain88 opened #90 "`/resources post java` returns `javascript` resources"
This shouldn't really happen

[2018-07-25 13:53] stain88 commented on #90
Oh, I see: no `default` case in the `sortArguments`, so it's not filtering by anything, so everything is kept.

[2018-07-25 17:51] BethanyG opened #91 "Add `/message` or `/flag` or `@greetbot flag` action for Users"
Add a `/message` or `/flag` action so that users can flag concerning/bullying/inappropriate messages and have them sent to #admin for action.  A nice to have would be an interactive event-type message that would allow a user to give a reason or comment along with the flagged message.

[2018-07-25 17:52] BethanyG opened #92 "Refactor Code in Python or Golang"
Refactor the code in Python or Golang for ease of maintenance.

[2018-07-31 11:26] stain88 commented on #92
Obligatory comment about ruby

[2018-07-31 19:09] BethanyG commented on #92
If Ruby's your passion @stain88 - I won't get in your way.  I'd be sad to give up the project entirely (I don't know any Ruby, and I don't currently have the bandwidth to learn) - but if you are on fire about it, I can re-pull the code into my repo and refactor it as and individual project....then you can go ahead a re-write it as Ruby for the community.

[2018-07-31 20:13] stain88 commented on #92
nah, not to the extent of forcing you to drop the project. Playing around with a ruby bot on my own to see how that works.
I'll start having a look at python, since bill is going the go route

[2018-08-01 00:37] peoray opened #93 "Add Open Source Projects that are beginner-friendly to welcome message"
@wuworkshop recently indicated the need to add OSS resources to either Greetbot, the CB Forum, or both because the topic comes up fairly regularly. What do you guys think?

[2018-08-01 06:40] stain88 commented on #93
yep, go for it if you want.
i would recommend `/resources oss`

[2018-08-01 06:43] angelocordon commented on #92
I’m going to keep it on Node just to throw a monkey wrench in this whole
thread :D

On Jul 31, 2018 at 1:13 PM, Marc Baghdadi <notifications@github.com> wrote:

nah, not to the extent of forcing you to drop the project. Playing around
with a ruby bot on my own to see how that works.
I'll start having a look at python, since bill is going the go route

—
You are receiving this because you are subsc

[2018-08-01 06:48] stain88 commented on #62
@johnathanDOS @FavoredFortune how are you getting on with this?

[2018-08-01 14:09] MavenOfCode commented on #62
Hi Marc,
I confess life and coding boot camp have taken up more of my time than I
expected.

I have the set up for programming this ask all set now,  but haven't gotten
beyond that.  If you want to reassign my tasks,  I totally understand.
Sooz

On Tue, Jul 31, 2018, 11:48 PM Marc Baghdadi <notifications@github.com>
wrote:

[2018-08-01 15:24] BethanyG commented on #93
Yes - I agree with @stain88 - you could add a specific `/resources`  **OSS** command.  I would strongly recommend against adding anything to the initial welcome message - it is already so long that no one is reading it through.

I'd work with @wuworkshop to get levels (what is beginner, what is intermediate, what is advanced), the specific message phrasing, preferred resource links and which emoji

[2018-08-01 16:03] BethanyG commented on #92
@angelocordon - the thought would be that we'd keep a version on Node as long as there were slash commands being added, or there was active development happening by one or more participants.  Meanwhile, we'd be looking at re-writing the codebase on a different branch/in a different repo.  It is small enough at this point that it (ought) to be straightforward.

 @stain88 - totally up to you (you co

[2018-08-01 21:33] wuworkshop commented on #93
Hmm... 🤔 I honestly wasn't thinking about OSS in terms "what is beginner, what is intermediate, what is advanced". Not sure if levels make sense for this topic.

What pops up often in the Slack is how to start contributing to OSS. Another OSS question might be how to start and maintain an OSS project.

[2018-08-01 21:55] lpatmo commented on #93
@wuworkshop Are there common links that you find yourself sharing over and over again, re: contributing to OSS? That could be included here, maybe.

Another idea on my wishlist has been to have a weekly feature of OSS projects people *can* contribute to, but that's a separate thing.

[2018-08-01 22:12] wuworkshop commented on #93
My go-to link has been this site from GitHub (and their friends) - https://opensource.guide/

Kent C. Dodds wrote a good article on egghead.io:
https://egghead.io/articles/get-started-contributing-to-javascript-open-source

Not sure how others feel about profanity 😅 , but I also really liked this Medium piece from Ken Wheeler on his experience as an OSS maintainer:
https://medium.com/codezillas/a-

[2018-08-01 22:14] lpatmo commented on #93
Awesome, thank you.

[2018-08-02 00:15] BethanyG commented on #93
https://opensource.com/resources/organizations

We might also want to pull out some of the pages from the opensource guide to point people to specific sections....like pointing users specifically to https://www.firsttimersonly.com/, among others.

Agree that contributing to OSS might not fit into neat levels at first glance...although I am tempted to try.  I see people ask *all the time* about con

[2018-08-12 22:59] johnathanDOS commented on #62
@stain88 I only got as far as setting up a personal Slack workspace for testing. I haven't been able to work on this since April, and I can't commit to working on it further for at least another two months.

[2018-08-13 08:15] stain88 commented on #62
No worries, I'll just mark this as "up for grabs" again

[2018-09-23 21:04] lpatmo opened #94 "Change out link in the welcome text"
At the moment, we link to https://codebuddies.slack.com/files/U0G92F4J0/F8VRAGD0S/CodeBuddies_Slack_Etiquette_for_General_Members in the welcome text.

Non-admin users aren't able to see this link, unfortunately. We've cross-posted the same content (with additional guidelines about promoted posts) to https://codebuddies.org/slack.

TODO:
- Change out https://codebuddies.slack.com/files/U0G92F4J0/F

[2018-09-26 10:51] peoray commented on #94
@lpatmo If no one has indicated interest, I'd love to work on this.

[2018-09-26 16:43] lpatmo commented on #94
Marked this as 'claimed' for you.

Btw, are you interested in participating in Hacktoberfest this year? If you open up the PR between October 1st - October 31st, it can count towards one of the five PRs you need to get a free t-shirt from the Hacktoberfest organizers. :)

[2018-09-26 18:36] peoray commented on #94
Lol, that's tempting.

[2018-10-01 11:06] cfanoulis commented on #94
Hey, is this being worked on? Hacktoberfest site reccomended this repo, and it's JavaScript, so I would love ~~to steal it~~ to take this on if the other user isn't interested still

[2018-10-01 11:11] stain88 commented on #94
This is claimed by @peoray.
If nothing has been done by next week, it will be marked as unclaimed @cfanoulis

[2018-10-01 14:33] mndominguez commented on #90
I can work on this @stain88

[2018-10-01 14:47] stain88 commented on #90
All yours @mndominguez

[2018-10-01 19:01] V1shvesh commented on #89
I'd like to work upon this issue

[2018-10-01 22:17] tyronwyt commented on #89
Hi, If this is still open. I would like to claim this.

[2018-10-01 22:50] kjng commented on #62
I would like to work on this!

[2018-10-02 03:25] uLan08 commented on #62
I am also interested in working on this.

[2018-10-02 03:34] DSerp commented on #94
#97 Leaving it here in case the claimer doesn't want to do it anymore.

[2018-10-02 05:20] stain88 commented on #62
@kjng @uLan08 there should be enough here for both of you to do some of the work.

[2018-10-02 07:18] uLan08 commented on #62
Great! I could start working on Advanced and we can meet halfway just as previously discussed here @kjng .

[2018-10-02 13:07] tyronwyt commented on #89
I guess this will be better to revisit once https://github.com/codebuddies/greetbot/issues/62 is completed, then it can be added to the `/resources html-css` command.

[2018-10-02 15:00] mndominguez commented on #90
@stain88 do you think that the `default` case should include a push for each type of argument? If not, then I think the function should be broken down and refactored in four, one for languages, one for levels and so on.

[2018-10-02 15:07] stain88 commented on #90
I think a generic `default` could work: if you ask for something that "isn't there", regardless of whether it is language, level, type, then nothing should be returned.
Of course, that would mean being extremely harsh with typos, or other spellings.

[2018-10-03 03:51] mndominguez commented on #90
Agreed. I just opened a PR.

[2018-10-03 07:22] lpatmo commented on #94
Thanks @peoray, @Serpa88, and @stain88!

[2018-10-05 06:46] Apoorva-13 commented on #93
hi can i take up this issue?

[2018-10-05 06:49] Apoorva-13 commented on #62
Hi can i take up this issue?

[2018-10-05 07:15] peoray commented on #67
I would love to take this if no one has indicated any interest?

[2018-10-05 07:21] peoray commented on #62
@Apoorva-13 Sorry, this issue has already been claimed. You can check out other issues

[2018-10-05 07:23] Apoorva-13 commented on #62
ok thanks:)

[2018-10-05 09:03] stain88 commented on #67
Go (🎉 ) for it, @peoray
If in doubt of what should go in as resources, check in with @billglover and @cbelsole

[2018-10-05 13:48] peoray commented on #67
When I tried to run greetbot in my test-slack, it shows this error
`Darn - that slash command didn't work (error message: `404_client_error`). Manage the command at greetbot.` @stain88

[2018-10-05 13:52] kjng commented on #89
#100 added the `/resources html-css` command so this should be unblocked now.

[2018-10-05 14:18] peoray commented on #90
When I type any language, even anyone that doesn't exist like `vbmvb`, it returns resources for python?

[2018-10-05 14:19] stain88 commented on #90
yeah this isn't complete yet, I'll rename the title

[2018-10-05 14:52] peoray commented on #67
Still having issues

[2018-10-05 14:57] peoray commented on #89
The checklist contains other relevant information, should it be restricted to only html-css?

[2018-10-05 15:02] peoray commented on #86
Is this still necessary, since we added more information to the welcome message and also have a slack etiquette at http://codebuddies.org/slack

[2018-10-06 08:48] uLan08 opened #102 "/welcome command broken"
I have finished setting up the slack workspace for testing and I am getting errors when I issue `/welcome test`. I would gladly fix this if it really is broken.

[2018-10-06 11:13] stain88 commented on #102
I think it's highly likely the docs are just out of date, this isn't the first mention of `/welcome` not working as expected. As long as it keeps working in the Codebuddies slack, and the dev slack (which it currently does), I'll keep this labelled as `docs bug`

[2018-10-06 11:42] uLan08 opened #103 "New html-css resources for review"
New resources are [Grid Garden](https://cssgridgarden.com/) and [Flexbox Froggy](https://flexboxfroggy.com/).

[2018-11-14 09:29] stain88 commented on #86
We have done both of those, but might be nice to quick-link to http://codebuddies.org/slack via a `/help`

[2018-11-15 01:55] lpatmo commented on #86
That's something that could also be set up quickly on the Slack admin
autoresponder, though I'm not against someone submitting a PR on greetbot
for it too.

On Wed, Nov 14, 2018, 1:29 AM Marc Baghdadi <notifications@github.com wrote:

[2019-01-01 21:20] stain88 commented on #91
@lpatmo @angelocordon @billglover
Can we close this in favour of BuddyBot?

[2019-01-02 03:09] lpatmo commented on #91
Thanks, makes sense!

[2019-01-02 03:09] #91 closed